.outer-container{
  display: flex;
  justify-content: center;
}
.inner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  width: 300px;
  justify-self: center;
}
.dialog{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
}
