<div>
  <div class="flex-container">
    <div class="flex-item" fxLayoutAlign="left" >
      <mat-card>
        <mat-card-title>My Profile</mat-card-title>
        <mat-card-content>
          <mat-list>
            <mat-list-item>
              <strong>Name: </strong>
              <span style="margin-left: 20px;">{{account.username}} </span>
            </mat-list-item>
            <mat-list-item>
              <strong>Wallet:</strong>  <span style="margin-left: 20px;">{{account.wallet}} </span> <strong> € </strong>
              <mat-icon style="margin-left: 20px;" (click)="onTopUp()"> add_circle_outline</mat-icon>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card></div>
    <div class="flex-item">
      <div class="mapContainer" id="map" style="height: 400px; width: 633px; margin-top: 16px; padding: 0;"
           leaflet [leafletOptions]="mapOptions" (leafletMapReady)="onMapReady($event)">
    </div>
  </div>
  <div class = "flex-item" style="width: 100%;" *ngIf="account">
  <app-archives   [accountId]="account.id" (posEmitter)="showPositions($event)" ></app-archives>
  </div>
  </div>
</div>
