h2,
h4,
p {
  text-align: left;
}

.margin-top {
  margin-top: 24px;
}
table {
  width: 100%;
}
mat-card {
  margin: 16px;
  width: 500px;
  text-align: left;
}
.flex-container{
  display: flex;
  flex-flow: column wrap;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: space-between;
}
.flex-container > div {
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
