h2,
h4,
p {
  text-align: left;
}

.margin-top {
  margin-top: 24px;
}
table {
  width: 100%;
}
mat-card {
  margin: 16px;
  width: 500px;
  text-align: left;
}
.row{
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;

}
