.spacer {
  flex: 1;
}
@media screen and (max-width: 768px){
  .toolbar{
    display: none;
  }
}
.toolbar {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffba00;
  color: black;
}
.toolbar img {
}

.toolbar-logo {
}

.toolbar #app-logo:hover {
}
button{
  height: 64px ;
}
