<div class="outer-container">
  <div class="inner-container">
<div class="form-group" style="width: 177px;">
  <label>Insert Area Coordinates</label>
  <input type ="text" class="form-control" id="lat" required  [(ngModel)]="position.lat" name="lat">
  <input type ="text" class="form-control" id="lon" required  [(ngModel)]="position.lng" name="lon" >
  <button type="button" class="btn btn-default" [disabled]="disableAddButton" (click)="addSelectionPoint()">Add</button>
  <button type="button" class="btn btn-default"  (click)="removeAreaSelection()">Reset</button>
  <button type="button" class="btn btn-default" [disabled]="disableFinishButton" (click)="drawPolygon()">Finish</button>
</div>
    <app-purchase></app-purchase>
  </div>
  <div>
    <label>Owners:  </label>
    <mat-selection-list #userList (selectionChange) = "onSelectUser($event)">
      <mat-list-option
        *ngFor="let id of users" [value] = id selected>
        <strong>{{ id }}</strong>
      </mat-list-option>
    </mat-selection-list>
  </div>
<div class="mapContainer" id="map" style="height: 400px; width: 733px; margin: 0; padding: 0;"
     leaflet [leafletOptions]="mapOptions" (leafletMapReady)="onMapReady($event)">
  <div *ngIf="showControlLayer;else Else" leafletDraw [leafletDrawOptions]="drawOptions">
  </div>
  <ng-template #Else><div leafletDraw [leafletDrawOptions]="drawOptionsDisabled"></div>
  </ng-template>
</div></div>
  <div>
    <app-timechart></app-timechart>
  </div>

