.mapContainer {
  margin: 16px;
  display:block;
  min-height: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;height: 400px; width: 733px;
}
.outer-container {
  display: flex;
  flex-flow: column wrap;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;

}
.inner-container{
  flex-direction: column;
  justify-content: space-around;
}

