<div class="outer-container">
  <div class="flex-item">
    <app-timechart></app-timechart>
  </div>
  <div class="flex-item">
    <mat-label>Owners:  </mat-label>
    <mat-selection-list #userList (selectionChange) = "onSelectUser($event)">
      <mat-list-option
        *ngFor="let id of users" [value] = id selected>
        <strong>{{ id }}</strong>
      </mat-list-option>
    </mat-selection-list>
  </div>
  <div>
  <div class="mapContainer" id="map"
         leaflet [leafletOptions]="mapOptions" (leafletMapReady)="onMapReady($event)">
      <div *ngIf="showControlLayer;else Else" leafletDraw [leafletDrawOptions]="drawOptions">
      </div>
      <ng-template #Else><div leafletDraw [leafletDrawOptions]="drawOptionsDisabled"></div>
      </ng-template>
  </div>
    <mat-label *ngIf="this.selectedMarkers.length>0">Total selected: {{this.selectedMarkers.length}}</mat-label>
  </div>
</div>
<div >
  <app-purchase id="purchase"></app-purchase>
  </div>

