<mat-label>Enter a date range</mat-label>
<br/>
<mat-form-field appearance="fill" >
  <mat-date-range-input [formGroup]="range" [rangePicker]="picker" >
    <input matInput matStartDate formControlName="start" placeholder="Start date" (dateInput) = "selectDateRange()" >
    <input matInput matEndDate formControlName="end" placeholder="End date" (dateChange) = "selectDateRange()" (dateInput) = "selectDateRange()">
  </mat-date-range-input>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker>
  <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
  <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
</mat-form-field>
<form [formGroup]="time">
  <mat-form-field appearance="fill" style="width: 38%;">
    <input matInput type="time" placeholder="Start time" formControlName="start" [(ngModel)]="startTime" (change)="onTimeChange()" #start/>
  </mat-form-field>
  <mat-form-field appearance="fill" style="width: 38%; margin-bottom: 0;">
  <input matInput type="time" placeholder="End time" formControlName="end" [(ngModel)]="endTime" #end/>
</mat-form-field>
</form>
<div id="chart">
  <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [xaxis]="chartOptions.xaxis"
    [fill]="chartOptions.fill"
    [dataLabels]="chartOptions.dataLabels"
    [title]="chartOptions.title"
    [yaxis]="chartOptions.yaxis"
  ></apx-chart>
</div>
