#chart {
  max-width: 650px;
  margin: 16px auto;
  height: 400px;
}
.apexcharts-tooltip {
  border-radius: 50px;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
}

.apexcharts-active {
  display: none !important;
}
mat-form-field{
  margin-top: 16px;
  width: 76%;
  text-align: center;
}
mat-label{
  font-size: 24px;
  font-weight: 500;
}
