<div>
      <mat-card >
        <mat-card-title>Sign Up</mat-card-title>
        <mat-card-content>
          <mat-grid-list cols="1" >
            <mat-grid-tile >
           <div >
            <form [formGroup]="registerForm" >
              <mat-form-field>
                <input matInput placeholder="Username"
                       formControlName="username"
                       [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
                >
                <mat-error *ngIf="f.username.errors && f.username.errors.required">
                  Username <strong>required</strong>!
                </mat-error>
              </mat-form-field><br>

              <mat-form-field>
                <input matInput type="password" placeholder="Password"
                       formControlName="password"
                       [ngClass]="{ 'is-invalid': submitted && f.password.errors }"

                >
                <mat-error *ngIf="f.password.errors && f.password.errors.required">
                  enter password
                </mat-error>
              </mat-form-field><br/><br/>

              <button mat-raised-button color="accent" class="register-btn" (click)="onSubmit()">
                <mat-icon>person_add</mat-icon> Sign up
              </button>
              <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            </form>
          </div>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-card-content>
      </mat-card>
</div>
